.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
@media(max-width: 768px) {
  .mybtn {
      width: 100%;
  }
}
/* navbar */
.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navbox .leftside {
  width: 80px;
  height: 80px;
}

.navbox .leftside img {
  width: 100%;
  height: 100%;
}

.navbox .rightside {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  margin-left: 1000px;
}

.navbox .rightside {
  margin-right: 10px;
}

.navbox .rightside .navlink {
  text-decoration: none;
  color: #000;
}
